<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Digishui.SendGridApiKey" value=""/>
    <add key="Digishui.SendGridDefaultFromAddress" value=""/>
    <add key="Digishui.SendGridDefaultFromName" value=""/>
    <add key="Digishui.SendGridDefaultBCC" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
</configuration>
