<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" target="net47" />
  <package id="libphonenumber-csharp" version="8.9.2" target="net47" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" target="net47" />
  <package id="Sendgrid" version="9.9.0" target="net47" />
  <package id="SSH.NET" version="2016.1.0" target="net47" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" target="net47" />
  <package id="WindowsAzure.Storage" version="9.1.1" target="net47" targetFramework="net47" />
</packages>